/node_modules
/public/hot
/public/storage
/public/prathibha
/public/prathibha_quiz_22
/public/prathibha_annual_22
/public/2023
/storage/*.key
/vendor
.env
.env.backup
laravel_sreeraj.sh
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
